/* .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
} */
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.welcome{
  color: black;
  /* font-family:roboto; */
  font-size: 50px;
  margin-bottom: 10%;
  /* font-weight: bolder; */
}